.loremIpsumIs,
.whyChooseUsContainer {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.whyChooseUsContainer {
  margin: 0;
  font-size: inherit;
  line-height: 130%;
  text-transform: uppercase;
  font-family: inherit;
}
.whyChooseUsContainer b {
  font-size: 48px;
  font-weight: bold;
  font-style: Timeless;
}
.whyChooseUsContainer span {
  font-size: 48px;
  font-weight: normal;
  font-style: Timeless;
}
.loremIpsumIs {
  width: 33rem;
  line-height: 150%;
  color: var(--color-dimgray-200);
  font-size: 16px;
  font-family: var(--font-timeless);
  font-weight: normal;
}
.chooseTitle {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.reasonCardsChild {
  width: 3.813rem;
  height: 3.825rem;
  position: relative;
  object-fit: contain;
}
.hafelePartner {
  position: relative;
  line-height: 150%;
  font-weight: bold;
  font-family: var(--font-timeless);
}
.precisionCraftsmanshipOf {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  font-family: var(--font-timeless);
}
.precisionCraftsmanshipOfContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 150%;
  color: var(--color-dimgray-200);
  display: inline-block;
  min-height: 2.625rem;
}
.hafelePartnerParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.readMore {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 4.313rem;
}
.sendIcon {
  height: 1.125rem;
  width: 1.125rem;
  position: relative;
  object-fit: contain;
}
.readButtons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-sm);
}
.reasonCards {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--color-oldlace);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  min-width: 20rem;
  max-width: 100%;
}
.chooseTitleParent,
.reasonCardsParent {
  display: flex;
  justify-content: flex-start;
  /*changes here */
  max-width: 106%;
}
.reasonCardsParent {
  /* width: 73.125rem; */
  width: 55%;
  margin-left: 3%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  /* gap: 1.875rem 1.75rem; */
  gap:  1.75rem;
  min-height: 33.125rem;
  text-align: left;
  font-size: var(--font-size-xl);
}
.chooseTitleParent {
  align-self: stretch;
  flex-direction: column;
  /* changes here */
  /* align-items: center; */
  align-items: flex-start;
  padding: var(--padding-53xl) var(--padding-xl) ;
  box-sizing: border-box;
  gap: var(--gap-29xl);
  flex-shrink: 0;
  /* changes here 2*/
  z-index: 0;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-300);
  font-family: var(--font-timeless);
}
@media screen and (max-width: 1050px) {
  .whyChooseUsContainer {
    font-size: var(--font-size-19xl);
    line-height: 3.125rem;
  }
  .chooseTitleParent {
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  .chooseTitleParent {
    gap: var(--gap-5xl);
    padding: var(--padding-28xl) var(--padding-14xl) var(--padding-17xl);
  }
  .whyChooseUsContainer b {
    font-size: 24px;
    font-weight: bold;
    font-style: Timeless;
  }
  .whyChooseUsContainer span {
    font-size: 24px;
    font-weight: normal;
    font-style: Timeless;
  }
  .loremIpsumIs {
    width: 33rem;
    line-height: 150%;
    color: var(--color-dimgray-200);
    font-size: 15px;
    font-family: var(--font-timeless);
    font-weight: normal;
  }
}
@media screen and (max-width: 450px) {
  .whyChooseUsContainer {
    font-size: var(--font-size-10xl);
    line-height: 2.313rem;
  }
  .hafelePartner {
    font-size: var(--font-size-6xl);
    line-height: 1.5rem;
  }
  .reasonCards {
    gap: var(--gap-mini);
    width: 10%;
  }
  .chooseTitleParent {
    /* padding-top: var(--padding-12xl);
    padding-bottom: var(--padding-12xl); */
    /* padding-top: 15%;
    padding-bottom: 15%; */
    box-sizing: border-box;
  }
}
@media screen and (max-width: 360px) {
  .chooseTitleParent {
    /* padding-top: var(--padding-12xl);
    padding-bottom: var(--padding-12xl); */
    padding-top: 15%;
    padding-bottom: 15%;
    /* padding-right: 7%; */
    box-sizing: border-box;
  }
}