@font-face {
  font-family: "Timeless";
  src: url("/Timeless.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Timeless";
  src: url("/Timeless-Bold.ttf");
  font-weight: 700;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-timeless: 'Timeless';

  /* font sizes */
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-sm: 0.875rem;
  --font-size-xl: 1.25rem;
  --font-size-29xl: 3rem;
  --font-size-10xl: 1.813rem;
  --font-size-19xl: 2.375rem;
  --font-size-23xl: 2.625rem;
  --font-size-6xl: 1.563rem;
  --font-size-15xl: 2.125rem;
  --font-size-13xl: 2rem;
  --font-size-lgi: 1.188rem;
  --font-size-7xl: 1.625rem;
  --font-size-5xl: 1.5rem;

  /* Colors */
  --color-white: #fff;
  --color-dimgray-100: #6b6355;
  --color-dimgray-200: #555;
  --color-gray-100: #fafafa;
  --color-gray-200: #918a7a;
  --color-gray-300: #282828;
  --color-gray-400: #202020;
  --color-gray-500: rgba(255, 255, 255, 0.1);
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #dde8ed;
  --color-gainsboro-300: #e2e2e2;
  --color-whitesmoke: #eee;
  --color-oldlace: #fff7e9;
  --color-darkslategray: #313131;
  --color-honeydew: #e4f7e4;
  --color-lemonchiffon: #faf5c5;
  --color-mistyrose: #fae1de;
  --color-darkgray: #ababab;
  --color-peachpuff: #edcebe;

  /* Gaps */
  --gap-xl: 1.25rem;
  --gap-4xl-5: 1.468rem;
  --gap-111xl: 8.125rem;
  --gap-46xl: 4.062rem;
  --gap-base: 1rem;
  --gap-13xl: 2rem;
  --gap-3xs: 0.625rem;
  --gap-29xl: 3rem;
  --gap-5xl: 1.5rem;
  --gap-21xl: 2.5rem;
  --gap-9xs: 0.25rem;
  --gap-11xl: 1.875rem;
  --gap-11xs: 0.125rem;
  --gap-8xs: 0.312rem;
  --gap-mini: 0.937rem;
  --gap-5xs: 0.5rem;
  --gap-83xl: 6.375rem;
  --gap-32xl: 3.187rem;
  --gap-6xl: 1.562rem;
  --gap-23xl: 2.625rem;
  --gap-2xl: 1.312rem;
  --gap-xs: 0.75rem;
  --gap-40xl: 3.687rem;
  --gap-10xl: 1.812rem;
  --gap-86xl: 6.562rem;
  --gap-7xl: 1.625rem;
  --gap-33xl: 3.25rem;
  --gap-53xl: 4.5rem;
  --gap-17xl: 2.25rem;
  --gap-lg: 1.125rem;
  --gap-62xl: 5.062rem;
  --gap-61xl: 5rem;
  --gap-126xl: 9.062rem;
  --gap-31xl: 3.125rem;
  --gap-91xl: 6.875rem;
  --gap-8xl: 1.687rem;
  --gap-36xl: 3.437rem;

  /* Paddings */
  --padding-12xl-5: 1.968rem;
  --padding-116xl: 8.437rem;
  --padding-xl: 1.25rem;
  --padding-48xl: 4.187rem;
  --padding-53xl: 4.5rem;
  --padding-28xl: 2.937rem;
  --padding-14xl: 2.062rem;
  --padding-13xl: 2rem;
  --padding-2xl: 1.312rem;
  --padding-sm: 0.875rem;
  --padding-12xl: 1.937rem;
  --padding-base: 1rem;
  --padding-169xl: 11.75rem;
  --padding-75xl: 5.875rem;
  --padding-251xl: 16.875rem;
  --padding-3xl: 1.375rem;
  --padding-5xl: 1.5rem;
  --padding-11xl: 1.875rem;
  --padding-37xl: 3.5rem;
  --padding-17xl: 2.25rem;
  --padding-7xs: 0.375rem;
  --padding-2xs: 0.687rem;
  --padding-56xl-5: 4.718rem;
  --padding-lg: 1.125rem;
  --padding-lg-5: 1.156rem;
  --padding-7xs-5: 0.343rem;
  --padding-31xl: 3.125rem;
  --padding-38xl: 3.562rem;
  --padding-136xl: 9.687rem;

  /* Border radiuses */
  --br-25xl: 44px;
  --br-9xs: 4px;
  --br-xs: 12px;
  --br-base: 16px;
  --br-481xl: 500px;
  --br-31xl: 50px;
  --br-95xl-3: 114.3px;
  --br-5xl: 24px;
  --br-201xl: 220px;
  --br-160xl: 179px;
  --br-7xs: 6px;
  --br-41xl: 60px;
  --br-81xl: 100px;
  --br-281xl: 300px;
  --br-29xl: 48px;
  --br-231xl: 250px;
  --br-131xl: 150px;
  --br-66xl: 85px;
}